.search {
    li:not(.group-list) { cursor: pointer; }
    .group-list { cursor: no-drop; }
    .result-search-container {
        position: relative;height: 1px;
        .result-search {
            position: absolute;
            left: 0;
            top: 100%;
            right: 0;
        }
    }
}